<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Список университетов</title>
        {% load bootstrap4 %}

        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <div class="container">
            {% block content %}
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Краткое наименование</th>
                        <th scope="col">Полное наименование</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for university in universities %}
                        <tr>
                            <td><a href="{% url 'university_detail' pk=university.pk %}">{{ university.short_title }}</a></td>
                            <td>{{ university.full_title }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Код</th>
                        <th scope="col">Наименование</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for specialty in specialties %}
                        <tr>
                            <th scope="row">{{ specialty.code }}</th>
                            <td><a href="{% url 'specialty_detail' pk=specialty.pk %}">{{ specialty.title }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endblock %}
        </div>
    </body>
</html>
