{% extends 'base.html' %}

{% block content %}
  <div class="container w col-md-6">
    <div class="centered">
      <h3>Укажите свои баллы по итогам ЕГЭ</h3>
    </div>
    <form action="/search/" method="get" class="search_form w">
        {% for subject in subjects %}
            <div class="form-group">
                <label for="subject_{{ subject.id }}">{{ subject.title }}</label>
                <input max="100" min="0" class="form-control" type="number" id="subject_{{ subject.id }}"
                       name="subject_{{ subject.id }}">
            </div>
        {% endfor %}
        <div class="form-row text-center w">
          <div class="col-12">
              <input class="btn btn-primary btn-lg btn-block" type="submit" value="Поиск">
          </div>
       </div>
    </form>
    </div>
{% endblock %}
