{% extends 'universities/base.html' %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Код</th>
            <th scope="col">Наименование</th>
        </tr>
        </thead>
        <tbody>
        {% for specialty in specialties %}
            <tr>
                <td>{{ specialty.code }}</td>
                <td><a href="{% url 'specialty_detail' pk=specialty.pk %}">{{ specialty.title }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}