{% extends 'base.html' %}
{% block content %}
  <div class="container w">
    <div>
        <h1>{{ university.short_title }}</h1>
        <p>{{ university.full_title }}</p>
        <table class="table table-primary table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Наименование специальности</th>
                <th scope="col">Проходной балл</th>
                <th scope="col">Предметы ЕГЭ</th>
            </tr>
            </thead>
            <tbody>
            {% for specialty in specialties %}
                <tr>
                    <td>
                        <a href="{% url 'specialty_detail' pk=specialty.specialty.pk %}">{{ specialty.specialty }}</a>
                    </td>
                    <td>{{ specialty.score }}</td>
                    <td>
                        {% for subject in specialty.subjects.all %}
                            {{ subject.title }}{{ " " }}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
{% endblock %}
