{% extends 'base.html' %}

{% block content %}
  <div class="container w">
    <table class="table table-primary table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Краткое наименование</th>
            <th>Полное наименование</th>
        </tr>
        </thead>
        <tbody>
        {% for university in universities %}
            <tr>
                <td><a href="{% url 'university_detail' pk=university.pk %}">{{ university.short_title }}</a></td>
                <td>{{ university.full_title }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock %}
