{% extends 'base.html' %}
{% block content %}
		<div id="headerwrap">
			<div class="container">
				<div class="row centered">
					<div class="col-lg-12">
						<h3>Мы поможем</h3>
						<h1>Выбрать ВУЗ</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid w">
			<div class="row centered">
				<br><br>
				<div class="col-lg-4">
					<a href="{% url 'university_list' %}"><img src="/static/img/cap.svg"></a>
					<a href="{% url 'university_list' %}"><h3>Вузы</h3></a>
					<p>Вузы России: университеты, институты, академии</p>
				</div>
				<div class="col-lg-4">
					<a href="{% url 'specialty_list' %}"><img src="/static/img/tie.svg"></a>
					<a href="{% url 'specialty_list' %}"><h3>Специальности</h3></a>
					<p>Специальности вузов: направления подготовки бакалавриата</p>
				</div>
				<div class="col-lg-4">
					<a href="{% url 'subjects_and_scores_search_form' %}"><img src="/static/img/search.svg"></a>
					<a href="{% url 'subjects_and_scores_search_form' %}"><h3>Расширенный поиск</h3></a>
					<p>Поиск вузов по предметам ЕГЭ</p>
				</div>
				<br><br>
			</div>
		</div>
{% endblock %}
